<main class="wrapper">
  <section class="content">
    <header>
      <h1>This is {{course.title}}</h1>
    </header>

    <div>
      <ul id="averages_list">
        <li></li>
      </ul>
    </div>
  </section> 
</main>
<script src="/javascripts/averages.js"></script>
