<main class="wrapper">
  <section class="content">

  <section class="content" id="content">
      <header>
        <h1>Welcome!</h1>
      </header>
      <p>Which track are you currently on?</p>
      <a href="#"><button id="javascript">Javascript</button></a>
      <a href="#"><button id="ruby">Ruby</button></a>
  </section> 

    <header id="header">
      <h1 id="h1">This is </h1>
    </header>

    <div>
      <ul id="averages_list">
        <li></li>
      </ul>
    </div>
  </section> 
</main>
<script src="/javascripts/averages_link.js"></script>
