<main class="wrapper">
  <section class="content">
    <header>
      <h1>This is {{title}}</h1>
    </header>

    <div id="passed_109">
      <p>Have you already passed the {{first}} interview?</p>
      <button id="yes">Yes</button>
      <button id="no">No</button>
    </div>
 
    <form id="select_course" action="">
      <label for="select_list">Choose your current course from the list:</label>
      <fieldset>
        <select name="select_list" id="select_list">
          <option id="last_option" value="finished">I'm finished!</option>
        </select>
        <button type="submit">Submit</button>
      </fieldset>
    </form>

    <form id="hours_form" action="">
      <p>Please write how many hours each course took you:</p>
      <fieldset>
        <ul id="course_list">
          <li id="list_item"><label for="">JS101/109</label><input type="text" name="js101" id="js101"></li>
        </ul>
      <button id="submit_hours_button" type="submit">Submit</button>
      </fieldset>
    </form>

    <form id="hours_total_and_week" action="/{{course}}/averages">
      <h2>And finally:</h1>
      <fieldset>
        <ul>
        <li><label for="total_hours">How many hours have you done in total?</label><input type="text" name="total_hours" id="total_hours"></li>
        <li><label for="total_hours">How many hours do you do per week?</label><input type="text" name="per_week" id="per_week"></li>
        </ul>
        <input type="text" name="course" id="course_name" value="{{course}}" value="" hidden>
        <button id="submit_total" type="submit">Submit</button>
      </fieldset>
    </form>
  </section> 
</main>
  <script src="/javascripts/script.js"></script>
