<main class="wrapper">
  <section class="content">
      <header>
        <h1>Welcome!</h1>
      </header>
      <p>Which track are you currently on?</p>
      <a href="/javascript"><button>Javascript</button></a>
      <a href="/ruby"><button>Ruby</button></a>
  </section>      
</main>